@use '../../styles/mixins' as *;

.content {
  max-width: var(--width-forecast);
  margin: 0 auto;
  padding: var(--size-4);
}

.container {
  max-width: var(--container-xl);
  margin: 0 auto;
  padding: 0 var(--space-md);
}

.header {
  @include flex;
  flex-direction: column;
  gap: var(--size-4);

  max-width: var(--width-forecast);
  margin: 0 auto;
  padding: var(--size-8);
  margin-bottom: var(--size-8);
  background: var(--color-background-card);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: 1px solid var(--color-border);

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}

.headerIcon {
  @include flex;
  justify-content: center;
  padding: var(--size-4);
  color: var(--color-primary);
}

.headerControls {
  @include flex;
  gap: 3rem;
  flex-direction: column;
}

.tabs {
  max-width: var(--width-forecast);
  padding-top: 5px;
  margin: 0 auto;
  display: flex;
  gap: var(--size-1);
  margin-bottom: var(--size-4);
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 450px) {
    gap: var(--size-2);
  }
}

.forecastContent {
  max-width: var(--width-forecast);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--size-4);
  margin-top: var(--size-4);
}

.placeholder {
  text-align: center;
  padding: var(--size-8);
  color: var(--color-gray);
}

.shareButtonWrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-start;
  margin-top: var(--size-4);
  padding: 0 var(--size-4);
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--size-4);
}
