@use '../../styles/mixins' as *;

.button {
  @include flex;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-4);
  background: var(--color-white);
  border-radius: var(--radius);
  transition: var(--transition);
  box-shadow: var(--shadow);
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-hover);
  }
}

.icon {
  &.active {
    color: var(--color-success);
  }
  &.default {
    color: var(--color-gray);
  }
}

.text {
  font-size: 0.875rem;
  &.active {
    color: var(--color-success);
  }
  &.default {
    color: var(--color-gray);
  }
}
