@use '../../styles/mixins' as *;

.button {
  @include card;
  width: 40px;
  height: 40px;
  padding: var(--size-2);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-hover);
  }
}

.icon {
  color: var(--color-primary);
  transition: transform var(--transition);

  &.rotate {
    transform: rotate(360deg);
  }
}
