@use '../../styles/mixins' as *;

.card {
  @include card;
  width: 100%;
  min-width: 280px;
}

.metrics {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}

.metric {
  &:not(:last-child) {
    margin-bottom: var(--size-4);
  }
}

.metricHeader {
  @include flex;
  justify-content: space-between;
}

.metricLabel {
  @include flex;
  gap: var(--size-2);
  color: var(--color-text);
  font-weight: 500;
}

.metricValue {
  font-weight: 600;
}

.metricBar {
  height: 4px;
  background: var(--color-bg);
  border-radius: var(--radius-full);
  overflow: hidden;
  margin-top: var(--size-2);
}

.metricBarProgress {
  height: 100%;
  transition: width var(--transition);
}
