@use '../../styles/mixins' as *;

.card {
  @include card;
  width: 100%;
  // min-width: 280px;
  // max-width: 400px;
}

.metrics {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}

.metric {
  &:not(:last-child) {
    margin-bottom: var(--size-4);
  }
}

.metricHeader {
  @include flex;
  justify-content: space-between;
  margin-bottom: var(--size-2);
}

.metricLabel {
  @include flex;
  gap: var(--size-2);
  color: var(--color-text);
  font-weight: 500;
}

.metricValue {
  font-weight: 600;
}

.metricBar {
  height: 4px;
  background: var(--color-background-primary);
  border-radius: var(--radius-full);
  overflow: hidden;
  margin-top: var(--size-2);
}

.metricBarProgress {
  height: 100%;
  transition: width var(--transition);
}

.metricIcon {
  &.love {
    color: var(--color-love);
  }
  &.health {
    color: var(--color-health);
  }
  &.career {
    color: var(--color-career);
  }
}
